
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

 img{
  max-width: 100%;
  max-height: 100%;            
  object-fit: contain;   
 }

body{
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 background: hsl(54, 63%, 97%);
  color: #fff;
  margin: 0;
  padding: 0;
}

.container {
    width: min(90%, 1120px);
    margin-inline: auto;
    padding: 20px 20px;
}


.nav-bar{
    position: sticky;
    top: 0px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5c7;
    color: white;
    padding-inline: 20px;
}

.title-logo{
    font-size: 1.7em;
    font-weight: 800;
    line-height: 60px;
    
    
}
.title-logo a {
  text-decoration: none !important;
  color: blue;
}

 em{
    color: red;
}

.navbar-links{
    max-height: 100%;
}

.navbar-links ul{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;

}
.navbar-links ul li{
  padding: 0 10px;
}

.navbar-links ul li a{
    color: white;
    text-decoration: none;
    line-height: 60px;
    display: block;
    font-size: 20px;
    font-weight: 500;
   
}
.navbar-links ul li a:hover{
    color: red;
    border-bottom: 2px solid red;
}

.toggle-button{
    position: absolute;
    display: none;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    flex-direction: column;
    top: 17px;
    right: 20px;

}

.toggle-button .bar{
    width: 100%;
    height: 3px;
    background-color: rgb(67, 41, 41);
    border-radius: 10px;
}

#About{
  background-color: rgb(134, 214, 7);
} */


         /* Default Light Mode Styles */
  body {
    background-color: #ffffff;
    color: #000000;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    /* transition: background-color 0.3s ease, color 0.3s ease; */
    transition: background-color 0.4s ease, color 0.4s ease;
  }

 #mode-toggle {
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 20px;
   width: 30px;
  height: 35px;
  border-radius: 50%;
  font-size: 24px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline;
  background-color: #f5f5c7;

  }
 

  /* Dark Mode Styles */
  body.dark-mode {
    background-color: #2c2c2c;
    color: #f5f5f5;
  }

  button.dark-mode {
    background-color: #444444;
    color: #ffffff;
    border: none;
  }


body.dark-mode {
    background-color: #121212; 
    color: #ffffff;            
}


#mode-toggle {
    z-index: 1000;
    position: relative;
}



    /* @ */

  .nav-bar button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 24px;
  background-color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}


body.dark-mode .nav-bar {
    background-color: black;
}
body.dark-mode #mode-toggle {
    background-color: black;
    color: white !important;
}
body.dark-mode .nav-bar a {
    color: white !important;
}




  /* section  */

  
.container h1 {
  text-align: center;
  color: #de0404;
  margin-bottom: 10px;
}

.intro {
  text-align: center;
  color: #001043;
  margin-bottom: 40px;
}
body.dark-mode .intro {
    color: white;
}

.song-card {
  background: #1e293b;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.song-card h2 {
  font-size: 18px;
  margin-bottom: 8px;
}

.song-card span {
  color: #38bdf8;
}

.views {
  font-size: 14px;
  color: #94a3b8;
  margin-bottom: 15px;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  border-radius: 10px;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


footer {
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-block: 10px;
    color: black;
}
body.dark-mode footer{
  color: white;
}



@media (max-width: 768px) {

 .nav-bar{
        flex-direction: column;
        align-items: flex-start;
    }

  

    .title-logo{
        font-size: 1.5rem;
    }

    .navbar-links{
        width: 100%;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in , opacity 0.3s ease-in;
    }
    .toggle-button{
        display: flex;
    }

    .navbar-links ul{
        flex-direction: column;
        max-width: 100%;
        text-align: center;
        
    }
    .navbar-links ul li a{
        display: inline-block;
        padding: 5px;
    }

    .nav-bar.active .navbar-links{
        max-height: 430px;
        opacity: 1;
         transition: max-height 0.5s ease-in ,opacity 1.3s ease-in;
    }

    .nav-bar.active .toggle-button .bar:nth-child(2){
        display: none;
    }
    .nav-bar.active .toggle-button .bar:nth-child(1){
        transform: translateY(9px) rotate(45deg);
    }
     .nav-bar.active .toggle-button .bar:nth-child(3){
        transform: translateY(-9px) rotate(-45deg);
    }

  /* dark mode  */

  
  #mode-toggle{
    position: absolute;
    top: 13px;
    right: 90px;    
    z-index: 10;

    width: 32px;
    height: 32px;
    font-size: 16px;

    padding: 0;
    background-color: #f5f5c7;
  }
}