
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

 img{
  max-width: 100%;
  max-height: 100%;            
  object-fit: contain;   
 }

body{
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: min(90%, 1120px);
    margin-inline: auto;
    padding: 20px 20px;
}

.singers-section {
    width: 100%;
    padding: 4rem 1rem;
    background-color: #f9f9f9;
    text-align: center;
}

.singers-section h1 {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 3rem;
    color: #fc1414;
}

.singers-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 2rem;
    overflow-x:hidden

    
}

.singer-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 6px 20px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.singer-card img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 70%;
}


.singer-card h3 {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 1rem;
    color: #ed563b;
}

.singer-card p {
    font-size: 0.95rem;
    color: #555;
    margin: 0 1rem 1rem 1rem;
    line-height: 1.5;
}


.singer-card .btn:hover {
    background-color: #ec7762;
}

.singer-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 12px 25px rgba(0,0,0,0.15);
}




@media (max-width: 768px) {
    .singers-grid {
        grid-template-columns: 1fr;
    }

}
